:root {
    --buttonColor: rgb(67, 0, 67);
    --hoverColor: purple;
}

.hidden {
    display: none;
}

header ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 30px
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main p {
    text-align: center;
    max-width: 500px;
}

#start-button {
    background-color: var(--buttonColor);
    color: white;
    padding: 10px 30px 10px 30px;
    border-radius: 5px;
    outline: 0;
    font-size: 30px;
}

#start-button:hover {
    cursor: pointer;
    background-color: var(--hoverColor)
}

#quiz {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#quiz ul {
    display: flex;
    align-items: stretch;
    flex-direction: column;
    gap: 5px;
    padding: 0px 1000px;
}

.buttonStyle {
    background-color: var(--buttonColor);
    color: white;
    padding: 10px 50px;
    border-radius: 10px;
    font-size: 24px;
}

.buttonStyle:hover {
    cursor: pointer;
    background-color: var(--hoverColor);
}

#end-page {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#high-scores-page {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#high-scores-list {
    list-style: none;
    padding-right: 35px;
}

#view-high-scores {
    background-color: var(--buttonColor);
    color: white;
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
}

#view-high-scores:hover {
    cursor: pointer;
    background-color: var(--hoverColor);
}

#return-home {
    background-color: var(--buttonColor);
    color: white;
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
}

#return-home:hover {
    cursor: pointer;
    background-color: var(--hoverColor);
}